<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>

    <link href="Content/BS/css/bootstrap.min.css" rel="stylesheet" />
    <link href="Content/site.css" rel="stylesheet" />
    <script src="Scripts/lib/jquery.js"></script>
    <script src="Content/BS/js/bootstrap.min.js"></script>

    <script src="Scripts/lib/angular/angular.min.js"></script>
    <script src="Scripts/lib/angular/angular-route.min.js"></script>

    <script src="Scripts/app/app.js"></script>
    <script src="Scripts/app/roueConfig.js"></script>
    <script src="Scripts/app/services.js"></script>

    <script src="Scripts/app/appController.js"></script>
    <script src="Scripts/app/userController.js"></script>
    <script src="Scripts/app/vendorController.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase.js"></script>

</head>
<body ng-app="app" ng-controller="appController" ng-init="initApp()">


    <div class="container">
        <div class="page-header">
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">Project name</a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="#user">User</a></li>
                            <li><a href="#vendor">Vendor</a></li>
                            <!--<li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    Dropdown  <span class="badge badge-pill badge-danger">{{orderCount}}</span> <span class="caret"></span>

                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li class="dropdown-header">Nav header</li>
                                    <li><a href="#">Separated link</a></li>
                                    <li><a href="#">One more separated link</a></li>
                                </ul>
                            </li>-->
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <!--<li><a href="../navbar/">Default</a></li>
                            <li><a href="../navbar-static-top/">Static top</a></li>-->
                            <!--<li class="active"><a href="./">Fixed top <span class="sr-only">(current)</span></a></li>-->
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> 
                                    <span class="glyphicon glyphicon-bell"> </span>
                                Orders 
                                     <span class="badge badge-pill badge-danger" ng-if="orderList != undefined && orderList.length>0 && unViewedOrderCount != undefined && unViewedOrderCount >0">{{unViewedOrderCount}}</span> 
                                    <span class="caret"></span> 
                                </a>
                                <ul class="dropdown-menu dropdown-cart" role="menu">
                                    <li ng-repeat="order in orderList | limitTo:-5 | orderBy: 'createdDate':true" ng-mouseover="hoverIn(order)" ng-mouseleave="hoverOut(order)">
                                        <span class="item">
                                            <span class="item-left">
                                                <!--<img src="http://lorempixel.com/50/50/" alt="" />-->
                                                <span class="item-info">
                                                    <span><b> {{order.orderId}}  - {{order.name}} </b></span>                                                                                                          
                                                    <span>{{order.price}}</span>
                                                    <span class="dropdown-header" style="padding-left:0;">{{order.message}}</span>
                                                    <!--<span class="dropdown-header" style="padding-left:0;">{{order.createdDate | date:'yyyy-MM-dd HH:mm:ss'}}</span>-->
                                                    <span class="dropdown-header" style="padding-left:0;">{{order.timeDifference}}</span>
                                                </span>
                                            </span>
                                            <span class="item-right">
                                            </span>
                                        </span>
                                    </li>
                                    <li class="divider" ng-if="orderList != undefined && orderList.length>5"></li>
                                    <li><a class="text-center" href="#vendor" ng-if="orderList != undefined && orderList.length>5">Show all notifications</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </nav>
        </div>

        <div ng-view></div>
        <!-- Content here -->
    </div>
    <!--<div>
        Footer
    </div>-->
</body>
</html>